### Bem vindas ao desafio de python do bootcamp Tech Minas da WoMakersCode!
Neste notebook, voce deve escrever o codigo python em resposta à cada uma das perguntas. Esteja atenta ao enunciado do problema!

### Desafio 1
Escreva uma função em python que lê dois números inteiros (a,b) e gere como resultado as seguintes operações:adição, subtração, multiplicação e divisão. Execute a funçao na celula abaixo, deixando visivel exemplos de resultados.

In [ ]:
##### ESCREVER A FUNÇAO ABAIXO
def operations(a,b):
  #### Escrever abaixo
  a = int(input("Digite um número: "))
  b = int(input("Digite outro número: "))
  soma = a + b
  subtracao = a - b
  multiplicacao = a * b
  divisao = a / b 

  print("A soma de", a, "+", b, "é: ", soma)
  print("A subtração de", a, "-", b, "é: ", subtracao)
  print("A multiplicação de", a, "*", b, "é: ", multiplicacao)
  print("A dividão de", a, "%", b, "é: ", divisao)

In [ ]:
#### RODAR A FUNÇAO


operations(0 , 0)

Digite um número: 3
Digite outro número: 6
A soma de 3 + 6 é:  9
A subtração de 3 - 6 é:  -3
A multiplicação de 3 * 6 é:  18
A dividão de 3 % 6 é:  0.5

### Desafio 2
Escreva uma função em python que leia como input uma idade e retorne a classificaçao da ideade do individuo da seguinte forma em:

*  Criança – 0 a 12 anos
*  Adolescente – 13 a 17 anos
*  Adulto – acima de 18 anos


Se a idade for um número negativo, mostrar a mensagem que a "idade inválida"

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
def classifica_idade(idade):
  #### escrever abaixo
  idade = int(input("Digite a idade do usuário: "))
  if idade >= 0 and  idade < 13:
    print('Criança')
  elif idade > 12 and idade < 18: 
    print('Adolescente')
  elif idade >= 18:
    print("Adulto")
  else: 
    print("idade inválida")

In [ ]:
#### RODAR A FUNCAO
classifica_idade(0)

Digite a idade do usuário: 12
Criança

### Desafio 3
Crie uma função em python que receba como input um determinado horário em horas e retorne a conversao deste horário para segundos

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
def time_converter(t):
  ##### escrever abaixo
  t = int(input("Horas:"))
  total_em_segundos = t * 3600
  print("Horas em segundos: ", total_em_segundos)

In [ ]:
##### RODAR A FUNCAO
time_converter(0)

Horas:1
Horas em segundos:  3600

### Desafio 4
Crie uma função em python que calcule a média artimética de uma aluna que cursou a disciplina de Programação I. A funcao deve receber como input as notas M1, M2 e M3 e calcular a média. Após a média calculada, a funcao deve anunciar se a aluna foi aprovado, reprovado ou pegou exame de acordo conm a seguinte classificacao:

* Se a média estiver entre 0.0 e 4.0, o aluno está reprovado
* Se a média estiver entre 4.1 e 6.0, o aluno pegou exame
* Se a média for maior do que 6.0, o aluno está aprovado
* Se o aluno pegou exame, deve ser lida a nota do exame. Se a nota do exame for maior do que 6.0, está aprovado, senão; está reprovado

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
def calcula_media(M1,M2,M3):
  ###### escrever abaixo
  print("Notas da disciplina de Programação I ")
  M1 = float(input("Digite a nota M1: "))
  M2 = float(input("Digite a nota M2: "))
  M3 = float(input("Digite a nota M3: "))
  media = (M1 + M2 + M3) / 3
  if(media > 0 and media <= 4):
    print("Média: ", media, "O aluno está reprovado!")
  elif(media <= 6):
    print("Média: ", media, "O aluno pegou exame!")
    exame = float(input("Digite a nota do exame: "))
    if(exame > 6):
      print("O aluno está aprovado!")
    else:
      print("O aluno está reprovado")  
  else:
    print("Média:", media, "O aluno está aprovado!")

In [ ]:
##### RODAR A FUNCAO
calcula_media(0, 0, 0)

Notas da disciplina de Programação I
Digite a nota M1: 4
Digite a nota M2: 4
Digite a nota M3: 1
Média:  3.0 O aluno está reprovado!

### Desafio 5
Dado a seguinte lista: 
* equipes_bootcamp_dados = [BerthaLutz, GraceHopper, JaquelineGoes, SarahGilbert]

1. Crie uma função em python que conte quantas vezes aparece a letra a em cada elemento da lista. Seu resultado deve ser uma lista . exemplo: [4,0,1,2]

2. Leia a lista de alunas: ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']

3. Crie uma função que atribua cada uma das alunas em uma das equipes da lista equipes_bootcamp_dados, de modo que cada equipe pode ter 3 alunas no máximo.

 Para isso ordene em alfabética. O seu resultado deve ser um dicionário python. exemplo {'BerthaLutz': ['Ana', 'Bruna', 'Camila'], 'GraceHopper': ['Elaine','Erika','Luiza'],... }

In [ ]:
##### ESCREVER A FUNCAO DA ETAPA 1
def contador(equipes_bootcamp_dados):
   #### escrever abaixo
   equipes_bootcamp_dados = ['BerthaLutz', 'GraceHopper', 'JaquelineGoes', 'SarahGilbert']
   letras = []
   for i in equipes_bootcamp_dados:
    a = i.count('a')
    letras.append(a)
   print(letras)

In [ ]:
###### RODAR A ETAPA 1
contador(0)

[1, 1, 1, 2]
4

In [ ]:
##### LER A ETAPA 2
lista_alunas = ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']
print(lista_alunas)

['Maria', 'Ana', 'Camila', 'Mariana', 'Elaine', 'Patricia', 'Marina', 'Erica', 'Larissa', 'Luiza', 'Nicole', 'Bruna']

In [ ]:
##### ESCREVER A FUNCAO DA ETAPA 3
def ordenacao(lista_alunas, equipes_bootcamp_dados):
  ### escrever abaixo
  lista_alunas = ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']
  lista_alunas.sort()
  equipes_bootcamp_dados = ['BerthaLutz', 'GraceHopper', 'JaquelineGoes', 'SarahGilbert']
  x = 3
  equipes_divididas = lambda lista_alunas, x: [lista_alunas[i:i+3] for i in range(0, len(lista_alunas),x)]
  equipes = equipes_divididas(lista_alunas, x)
    
  d = dict(zip(equipes_bootcamp_dados, equipes))
  print(d)

In [ ]:
##### RODAR A FUNCAO DA ETAPA 3
ordenacao(0,0)

{'BerthaLutz': ['Ana', 'Bruna', 'Camila'], 'GraceHopper': ['Elaine', 'Erica', 'Larissa'], 'JaquelineGoes': ['Luiza', 'Maria', 'Mariana'], 'SarahGilbert': ['Marina', 'Nicole', 'Patricia']}

### Desafio 6
Escreva uma função em python que leia uma temperatura em graus Celsius e retorne a conversao dela em graus Fahrenheit. 

A fórmula de conversão é F = (9 * C + 160) / 5, na qual F é a temperatura em Fahrenheit e C é a temperatura em graus Celsius

In [ ]:
##### ESCREVER A FUNCAO
def conversor_temperatura(temperatura):
  ### escrever abaixo 
  temperatura = eval(input("Grau Celsius = "))
  F = (9.0 * temperatura + 160.0) / 5.0
  print("%6.2f °C = %6.2f °F" % (temperatura, F))

In [ ]:
##### RODAR A FUNCAO
conversor_temperatura(0)

Grau Celsius = 25
 25.00 °C =  77.00 °F